body{
   background-color: antiquewhite; 
}
.banner{
    background-color: #4299d7;
    padding: 50px;
    
    
}
.menu{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.menu li{
    display: inline;
}
.menu a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4299d7;
    color: white;
    text-align: center;
  }

h1{

}